PORT=
MONGODB_URI=
FRONTEND_URL=

# Auth configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=1h

# Email Config (SMTP)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Auction System <noreply@auction.com>"

# Admin Auto-Seeder Config
ADMIN_EMAIL=
ADMIN_PASSWORD=
